
@{
    ViewBag.Title = "LITA NEWS";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="news-content m-b-24">
    <header class="font-xxl">一顆咖啡豆的溫度</header>
    <small class="label label-danger">2016/10/19</small>@* 訊息更新時間 *@
    <article>
        <img class="float-r" src="~/Content/images/News/pic1.jpg" alt="消息列表圖">
        @* 編輯器內容 *@
        2012年冬天，一群不畏寒冷的志工前往OO國小開辦了第一屆課後陪讀班，許多隔代教養的孩子
    </article>
</section>

<footer class="clear">
    <a href="~/News/list" class="btn">回列表</a>
</footer>
