@charset "UTF-8";

.editor {

    img {
        max-width: 100%;
        transition: opacity 0.35s;
    }

    a {
        color: darken($brand-primary,10%);
        transition: color 0.35s;

        &:hover {
            color: $brand-secondary;

            img {opacity: 0.8;}
        }
    }
}


// type
// ----------------------------------------------------------------------
.colored {margin-top: $spacer;}
h2.colored {
    color: darken($brand-primary,10%);
    font-size: 1.75em;
}

h3.colored {
    font-size: 1.5em;
    font-weight: bold;
    color: #C39A0C;
}

h4.colored {
    color: #A16F0A;
    font-size: 1.35em;
}

h5.colored {
    color: #8D7A0A;
}


// list
// ----------------------------------------------------------------------
.list-underline {
    > li {
        border-bottom: 1px dotted #C8BCAD;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
}

.list-icon {
    list-style: none;
    padding: 0;

    > li {
        padding-left: 15px;

        &::before {
            content: " ";
            display: inline-block;
            width: 0;
            height: 0;

            border: 5px solid transparent;
            border-left-color: $brand-secondary;

            margin-left: -10px;
        }
    }
}