@charset "UTF-8";

// Settiings
$enable-lte7:                   false;
$enable-rounded:                false;
$img-path:                      '../images';
$font-path:                     '../font/';
$pages:                         'AboutUs' 'Plan' 'Sell' 'Rent' 'Vendor' 'Neighbor' 'Partner' 'VIP';


// Colors
$brand-secondary:               #B9B440 !default;
$link-hover-color:              $brand-secondary;


// Typography
$font-family-en:                "Open Sans", "Helvetica Neue", Helvetica, Arial, 'Microsoft Jhenghei', \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif !default;


// Table
$table-cell-padding:            .35rem .75rem;
$table-bg:                      #fff;
$table-bg-accent:               #F5F5F5;
$thead-bg:                      #E8E5D3;
$table-border-color:            hsla(0,0,100%,0.5);


// Buttons

$btn-padding-y:                 .3rem;

$btn-padding-x-lg:              1.35rem;
$btn-padding-y-lg:              .6rem;

$btn-border-radius:             .5em;

$btn-primary-border:            transparent;

$btn-secondary-color:           #63632E;
$btn-secondary-bg:              #EBEBC8;
$btn-secondary-border:          transparent;

$btn-muted-color:               #fff !default;
$btn-muted-bg:                  lighten($gray-light,20%) !default;
$btn-muted-border:              $btn-muted-bg !default;

$btn-danger-bg:                 darken($btn-danger-bg,10%);


// Forms
$input-border-focus:            $brand-primary;
$input-color-placeholder:       #5F6D68;

$input-padding-x-sm:            .3rem;
$input-padding-y-sm:            .2rem;


// Navbar
$navbar-padding-horizontal:     0;
$navbar-padding-vertical:       $spacer*0.375;


// Navs
$nav-tabs-border-color:                     $brand-secondary;

$nav-tabs-active-link-hover-bg:             #544D48;
$nav-tabs-active-link-hover-color:          #fff;
$nav-tabs-active-link-hover-border-color:   transparent;


// Breadcrumbs

$breadcrumb-padding-vertical:   0;
$breadcrumb-padding-horizontal: 0;

$breadcrumb-bg:                 none;
$breadcrumb-divider-color:      #998675;
$breadcrumb-active-color:       $brand-secondary;
$breadcrumb-divider:            "/";


// Cards
$card-border-width:             0;
$card-spacer-x:                 .75rem;
