@charset "UTF-8";
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements - reboot
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, figure, blockquote, pre {
  margin-top: 0; }

p, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

html, body {
  text-align: center;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #656F5E;
  background: #FEFCE1;
  -webkit-font-smoothing: antialiased; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #7C6A42;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.active {
    color: #DDAB5A; }

img {
  vertical-align: middle;
  max-width: 100%; }

.font-sp {
  font-family: "Catamaran", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #7C6A42; }

h1 {
  font-size: 2.8125em; }

h2 {
  font-size: 2.0625em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.0625em; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

strong {
  font-size: 1.0625em;
  color: #7C6A42; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: white;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #F1F1F1; }

p {
  margin-bottom: 0; }
  p + p {
    margin-top: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #F3F0E9; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

button,
[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5em;
  line-height: inherit; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

[type="search"] {
  box-sizing: inherit;
  -webkit-appearance: none; }

output {
  display: inline-block; }

[hidden] {
  display: none !important; }

input:not([type]), [type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea, select, .form-element {
  background: none;
  line-height: 1.5;
  color: #858585;
  border: 1px solid #DEDEDE;
  padding: 5.44px 6px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  input:focus:not([type]), [type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus, textarea:focus, select:focus, .form-element:focus {
    border-color: #aa9360;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 147, 96, 0.6); }
  input:not([type])::-ms-expand, [type="text"]::-ms-expand, [type="password"]::-ms-expand, [type="date"]::-ms-expand, [type="datetime"]::-ms-expand, [type="datetime-local"]::-ms-expand, [type="month"]::-ms-expand, [type="week"]::-ms-expand, [type="email"]::-ms-expand, [type="number"]::-ms-expand, [type="search"]::-ms-expand, [type="tel"]::-ms-expand, [type="time"]::-ms-expand, [type="url"]::-ms-expand, [type="color"]::-ms-expand, textarea::-ms-expand, select::-ms-expand, .form-element::-ms-expand {
    background-color: transparent;
    border: 0; }
  input:not([type])::placeholder, [type="text"]::placeholder, [type="password"]::placeholder, [type="date"]::placeholder, [type="datetime"]::placeholder, [type="datetime-local"]::placeholder, [type="month"]::placeholder, [type="week"]::placeholder, [type="email"]::placeholder, [type="number"]::placeholder, [type="search"]::placeholder, [type="tel"]::placeholder, [type="time"]::placeholder, [type="url"]::placeholder, [type="color"]::placeholder, textarea::placeholder, select::placeholder, .form-element::placeholder {
    color: #b8b8b8;
    opacity: 1; }
  input:not([type]):disabled, input:not([type])[readonly], [type="text"]:disabled, [type="text"][readonly], [type="password"]:disabled, [type="password"][readonly], [type="date"]:disabled, [type="date"][readonly], [type="datetime"]:disabled, [type="datetime"][readonly], [type="datetime-local"]:disabled, [type="datetime-local"][readonly], [type="month"]:disabled, [type="month"][readonly], [type="week"]:disabled, [type="week"][readonly], [type="email"]:disabled, [type="email"][readonly], [type="number"]:disabled, [type="number"][readonly], [type="search"]:disabled, [type="search"][readonly], [type="tel"]:disabled, [type="tel"][readonly], [type="time"]:disabled, [type="time"][readonly], [type="url"]:disabled, [type="url"][readonly], [type="color"]:disabled, [type="color"][readonly], textarea:disabled, textarea[readonly], select:disabled, select[readonly], .form-element:disabled, .form-element[readonly] {
    background-color: #F3F0E9;
    opacity: 1; }
  input:not([type]):disabled, [type="text"]:disabled, [type="password"]:disabled, [type="date"]:disabled, [type="datetime"]:disabled, [type="datetime-local"]:disabled, [type="month"]:disabled, [type="week"]:disabled, [type="email"]:disabled, [type="number"]:disabled, [type="search"]:disabled, [type="tel"]:disabled, [type="time"]:disabled, [type="url"]:disabled, [type="color"]:disabled, textarea:disabled, select:disabled, .form-element:disabled {
    cursor: not-allowed; }

.form-element {
  display: block;
  width: 100%;
  height: 38px; }

.form-element-label {
  padding: 5.44px 6px;
  line-height: 38px;
  margin-bottom: 0; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  [type="date"].form-element, [type="time"].form-element, [type="datetime-local"].form-element, [type="month"].form-element {
    line-height: 38px; } }
.form-element-static {
  min-height: 38px;
  padding-top: 5.44px;
  padding-bottom: 6px;
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0.5rem; }

.input-inline {
  display: inline;
  width: auto;
  margin: 0 5.33333px;
  font-weight: normal; }
  .input-inline:first-child {
    margin-left: 0; }
  @media (max-width: 30em) {
    .input-inline {
      display: block;
      margin-left: 0; } }

[type="number"] {
  width: 80px; }

.input-size-sm {
  width: 80px; }

.input-size-md {
  width: 156px; }

.input-size-lg {
  width: 350px; }

.input-size-xl {
  width: 480px; }

.goTop small, .goTop i, .block, .img-center {
  display: block; }

.inline-block, #menu a {
  display: inline-block; }

.inline {
  display: inline; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.wrap::after, #header::after, #footer::after, #main::after, .container::after, .input-group::after, .clearfix::after, section::after {
  display: table;
  clear: both; }
  .wrap::after, #header::after, #footer::after, #main::after, .container::after, .input-group::after, .clearfix::after, section::after, .title-underline2::after {
    content: ''; }

.circle {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.5%; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.list-inline, .list-unstyled {
  list-style: none; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1200px;
  margin: 0 48px; }
  @media (min-width: 87.5em) {
    .wrap {
      margin: 0 auto; } }
  @media (max-width: 48em) {
    .wrap {
      margin: 0; } }

@media (max-width: 48em) {
  .wrap, #header, #footer, #main {
    padding-left: 16px;
    padding-right: 16px; } }

.container {
  padding: 16px; }

#header, #footer, #main {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 280px;
  background: url(../images/bg.gif) repeat-x 0 bottom;
  border-top: 4px solid #7C6A42; }

#header {
  height: 660px;
  z-index: 1; }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  position: absolute;
  top: 171px;
  left: 0; }

#footer {
  background: #F4F1EA url(../images/index/footerBg.gif) no-repeat 27.5% bottom;
  min-height: 280px;
  margin-top: -280px;
  z-index: 5; }

.overlay {
  overflow: hidden; }

.goTop, .goTop:hover, .goTop:active {
  color: #fff !important; }

.goTop {
  z-index: 99;
  position: fixed;
  right: 2%;
  bottom: 2%;
  -webkit-transition: color 1s, opacity .5s;
  transition: color 1s, opacity .5s;
  opacity: 0;
  background: rgba(124, 106, 66, 0.8);
  font-size: 23px;
  padding: 5px 10px;
  border-radius: 25px; }
  .goTop:hover, .goTop:active {
    background: #7C6A42; }
  .goTop small {
    margin-top: -12px; }
  .goTop i {
    margin-top: -5px; }

.fadeIn {
  -webkit-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fadeOut {
  -webkit-animation: fadeOut 1s 1 forwards;
  animation: fadeOut 1s 1 forwards; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
button.btn {
  border: none; }

.btn {
  display: inline-block;
  padding: 12px 40px;
  border-radius: 3px;
  font-size: 1.125em;
  line-height: 1.01;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  color: #fff;
  background: #7C6A42;
  letter-spacing: 1px; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 1px solid;
    outline: 1px solid #eed6af;
    outline-offset: 0; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn:hover, .btn:active, .btn.active, .btn:focus, .btn.focus {
    color: #fff;
    background: #DDAB5A; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background-color: #F3F0E9; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
  margin: 0 auto 1rem auto;
  height: 38px;
  border: 1px solid #DEDEDE; }
  .input-group input {
    width: 100%;
    border: none; }

.input-group input,
.input-group-addon {
  display: table-cell;
  vertical-align: top; }
  .input-group input:not(:first-child):not(:last-child),
  .input-group-addon:not(:first-child):not(:last-child) {
    border-radius: 0; }

.input-group-addon {
  width: 1%;
  height: 100%;
  line-height: 38px;
  white-space: nowrap;
  padding: 0 8px;
  height: 100%;
  color: #7C6A42;
  background: #F6F6F6; }

.clear {
  clear: both; }

.img-center {
  margin: auto; }

.hidden {
  display: none; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-a-0 {
  margin: 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a-2 {
  margin: 2px !important; }

.m-t-2 {
  margin-top: 2px !important; }

.m-r-2 {
  margin-right: 2px !important; }

.m-b-2 {
  margin-bottom: 2px !important; }

.m-l-2 {
  margin-left: 2px !important; }

.m-x-2 {
  margin-right: 2px !important;
  margin-left: 2px !important; }

.m-y-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important; }

.m-a-4 {
  margin: 4px !important; }

.m-t-4 {
  margin-top: 4px !important; }

.m-r-4 {
  margin-right: 4px !important; }

.m-b-4 {
  margin-bottom: 4px !important; }

.m-l-4 {
  margin-left: 4px !important; }

.m-x-4 {
  margin-right: 4px !important;
  margin-left: 4px !important; }

.m-y-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

.m-a-8 {
  margin: 8px !important; }

.m-t-8 {
  margin-top: 8px !important; }

.m-r-8 {
  margin-right: 8px !important; }

.m-b-8 {
  margin-bottom: 8px !important; }

.m-l-8 {
  margin-left: 8px !important; }

.m-x-8 {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.m-y-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.m-a-12 {
  margin: 12px !important; }

.m-t-12 {
  margin-top: 12px !important; }

.m-r-12 {
  margin-right: 12px !important; }

.m-b-12 {
  margin-bottom: 12px !important; }

.m-l-12 {
  margin-left: 12px !important; }

.m-x-12 {
  margin-right: 12px !important;
  margin-left: 12px !important; }

.m-y-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }

.m-a-16 {
  margin: 16px !important; }

.m-t-16 {
  margin-top: 16px !important; }

.m-r-16 {
  margin-right: 16px !important; }

.m-b-16 {
  margin-bottom: 16px !important; }

.m-l-16 {
  margin-left: 16px !important; }

.m-x-16 {
  margin-right: 16px !important;
  margin-left: 16px !important; }

.m-y-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.m-a-24 {
  margin: 24px !important; }

.m-t-24 {
  margin-top: 24px !important; }

.m-r-24 {
  margin-right: 24px !important; }

.m-b-24 {
  margin-bottom: 24px !important; }

.m-l-24 {
  margin-left: 24px !important; }

.m-x-24 {
  margin-right: 24px !important;
  margin-left: 24px !important; }

.m-y-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.m-a-32 {
  margin: 32px !important; }

.m-t-32 {
  margin-top: 32px !important; }

.m-r-32 {
  margin-right: 32px !important; }

.m-b-32 {
  margin-bottom: 32px !important; }

.m-l-32 {
  margin-left: 32px !important; }

.m-x-32 {
  margin-right: 32px !important;
  margin-left: 32px !important; }

.m-y-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.m-a-48 {
  margin: 48px !important; }

.m-t-48 {
  margin-top: 48px !important; }

.m-r-48 {
  margin-right: 48px !important; }

.m-b-48 {
  margin-bottom: 48px !important; }

.m-l-48 {
  margin-left: 48px !important; }

.m-x-48 {
  margin-right: 48px !important;
  margin-left: 48px !important; }

.m-y-48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important; }

.m-a-64 {
  margin: 64px !important; }

.m-t-64 {
  margin-top: 64px !important; }

.m-r-64 {
  margin-right: 64px !important; }

.m-b-64 {
  margin-bottom: 64px !important; }

.m-l-64 {
  margin-left: 64px !important; }

.m-x-64 {
  margin-right: 64px !important;
  margin-left: 64px !important; }

.m-y-64 {
  margin-top: 64px !important;
  margin-bottom: 64px !important; }

.m-a-xs {
  margin: 2px 4px !important; }

.m-t-xs {
  margin-top: 2px !important; }

.m-r-xs {
  margin-right: 4px !important; }

.m-b-xs {
  margin-bottom: 2px !important; }

.m-l-xs {
  margin-left: 4px !important; }

.m-x-xs {
  margin-right: 4px !important;
  margin-left: 4px !important; }

.m-y-xs {
  margin-top: 2px !important;
  margin-bottom: 2px !important; }

.m-a-sm {
  margin: 4px 8px !important; }

.m-t-sm {
  margin-top: 4px !important; }

.m-r-sm {
  margin-right: 8px !important; }

.m-b-sm {
  margin-bottom: 4px !important; }

.m-l-sm {
  margin-left: 8px !important; }

.m-x-sm {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.m-y-sm {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

.m-a-md {
  margin: 8px 16px !important; }

.m-t-md {
  margin-top: 8px !important; }

.m-r-md {
  margin-right: 16px !important; }

.m-b-md {
  margin-bottom: 8px !important; }

.m-l-md {
  margin-left: 16px !important; }

.m-x-md {
  margin-right: 16px !important;
  margin-left: 16px !important; }

.m-y-md {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.m-a-lg {
  margin: 12px 24px !important; }

.m-t-lg {
  margin-top: 12px !important; }

.m-r-lg {
  margin-right: 24px !important; }

.m-b-lg {
  margin-bottom: 12px !important; }

.m-l-lg {
  margin-left: 24px !important; }

.m-x-lg {
  margin-right: 24px !important;
  margin-left: 24px !important; }

.m-y-lg {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }

.m-a-xl {
  margin: 16px 32px !important; }

.m-t-xl {
  margin-top: 16px !important; }

.m-r-xl {
  margin-right: 32px !important; }

.m-b-xl {
  margin-bottom: 16px !important; }

.m-l-xl {
  margin-left: 32px !important; }

.m-x-xl {
  margin-right: 32px !important;
  margin-left: 32px !important; }

.m-y-xl {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.m-a-xxl {
  margin: 32px 64px !important; }

.m-t-xxl {
  margin-top: 32px !important; }

.m-r-xxl {
  margin-right: 64px !important; }

.m-b-xxl {
  margin-bottom: 32px !important; }

.m-l-xxl {
  margin-left: 64px !important; }

.m-x-xxl {
  margin-right: 64px !important;
  margin-left: 64px !important; }

.m-y-xxl {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.p-a-0 {
  padding: 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a-2 {
  padding: 2px !important; }

.p-t-2 {
  padding-top: 2px !important; }

.p-r-2 {
  padding-right: 2px !important; }

.p-b-2 {
  padding-bottom: 2px !important; }

.p-l-2 {
  padding-left: 2px !important; }

.p-x-2 {
  padding-right: 2px !important;
  padding-left: 2px !important; }

.p-y-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important; }

.p-a-4 {
  padding: 4px !important; }

.p-t-4 {
  padding-top: 4px !important; }

.p-r-4 {
  padding-right: 4px !important; }

.p-b-4 {
  padding-bottom: 4px !important; }

.p-l-4 {
  padding-left: 4px !important; }

.p-x-4 {
  padding-right: 4px !important;
  padding-left: 4px !important; }

.p-y-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.p-a-8 {
  padding: 8px !important; }

.p-t-8 {
  padding-top: 8px !important; }

.p-r-8 {
  padding-right: 8px !important; }

.p-b-8 {
  padding-bottom: 8px !important; }

.p-l-8 {
  padding-left: 8px !important; }

.p-x-8 {
  padding-right: 8px !important;
  padding-left: 8px !important; }

.p-y-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.p-a-12 {
  padding: 12px !important; }

.p-t-12 {
  padding-top: 12px !important; }

.p-r-12 {
  padding-right: 12px !important; }

.p-b-12 {
  padding-bottom: 12px !important; }

.p-l-12 {
  padding-left: 12px !important; }

.p-x-12 {
  padding-right: 12px !important;
  padding-left: 12px !important; }

.p-y-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important; }

.p-a-16 {
  padding: 16px !important; }

.p-t-16 {
  padding-top: 16px !important; }

.p-r-16 {
  padding-right: 16px !important; }

.p-b-16 {
  padding-bottom: 16px !important; }

.p-l-16 {
  padding-left: 16px !important; }

.p-x-16 {
  padding-right: 16px !important;
  padding-left: 16px !important; }

.p-y-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.p-a-24 {
  padding: 24px !important; }

.p-t-24 {
  padding-top: 24px !important; }

.p-r-24 {
  padding-right: 24px !important; }

.p-b-24 {
  padding-bottom: 24px !important; }

.p-l-24 {
  padding-left: 24px !important; }

.p-x-24 {
  padding-right: 24px !important;
  padding-left: 24px !important; }

.p-y-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

.p-a-32 {
  padding: 32px !important; }

.p-t-32 {
  padding-top: 32px !important; }

.p-r-32 {
  padding-right: 32px !important; }

.p-b-32 {
  padding-bottom: 32px !important; }

.p-l-32 {
  padding-left: 32px !important; }

.p-x-32 {
  padding-right: 32px !important;
  padding-left: 32px !important; }

.p-y-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.p-a-48 {
  padding: 48px !important; }

.p-t-48 {
  padding-top: 48px !important; }

.p-r-48 {
  padding-right: 48px !important; }

.p-b-48 {
  padding-bottom: 48px !important; }

.p-l-48 {
  padding-left: 48px !important; }

.p-x-48 {
  padding-right: 48px !important;
  padding-left: 48px !important; }

.p-y-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important; }

.p-a-64 {
  padding: 64px !important; }

.p-t-64 {
  padding-top: 64px !important; }

.p-r-64 {
  padding-right: 64px !important; }

.p-b-64 {
  padding-bottom: 64px !important; }

.p-l-64 {
  padding-left: 64px !important; }

.p-x-64 {
  padding-right: 64px !important;
  padding-left: 64px !important; }

.p-y-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important; }

.p-a-xs {
  padding: 2px 4px !important; }

.p-t-xs {
  padding-top: 2px !important; }

.p-r-xs {
  padding-right: 4px !important; }

.p-b-xs {
  padding-bottom: 2px !important; }

.p-l-xs {
  padding-left: 4px !important; }

.p-x-xs {
  padding-right: 4px !important;
  padding-left: 4px !important; }

.p-y-xs {
  padding-top: 2px !important;
  padding-bottom: 2px !important; }

.p-a-sm {
  padding: 4px 8px !important; }

.p-t-sm {
  padding-top: 4px !important; }

.p-r-sm {
  padding-right: 8px !important; }

.p-b-sm {
  padding-bottom: 4px !important; }

.p-l-sm {
  padding-left: 8px !important; }

.p-x-sm {
  padding-right: 8px !important;
  padding-left: 8px !important; }

.p-y-sm {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.p-a-md {
  padding: 8px 16px !important; }

.p-t-md {
  padding-top: 8px !important; }

.p-r-md {
  padding-right: 16px !important; }

.p-b-md {
  padding-bottom: 8px !important; }

.p-l-md {
  padding-left: 16px !important; }

.p-x-md {
  padding-right: 16px !important;
  padding-left: 16px !important; }

.p-y-md {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.p-a-lg {
  padding: 12px 24px !important; }

.p-t-lg {
  padding-top: 12px !important; }

.p-r-lg {
  padding-right: 24px !important; }

.p-b-lg {
  padding-bottom: 12px !important; }

.p-l-lg {
  padding-left: 24px !important; }

.p-x-lg {
  padding-right: 24px !important;
  padding-left: 24px !important; }

.p-y-lg {
  padding-top: 12px !important;
  padding-bottom: 12px !important; }

.p-a-xl {
  padding: 16px 32px !important; }

.p-t-xl {
  padding-top: 16px !important; }

.p-r-xl {
  padding-right: 32px !important; }

.p-b-xl {
  padding-bottom: 16px !important; }

.p-l-xl {
  padding-left: 32px !important; }

.p-x-xl {
  padding-right: 32px !important;
  padding-left: 32px !important; }

.p-y-xl {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.p-a-xxl {
  padding: 32px 64px !important; }

.p-t-xxl {
  padding-top: 32px !important; }

.p-r-xxl {
  padding-right: 64px !important; }

.p-b-xxl {
  padding-bottom: 32px !important; }

.p-l-xxl {
  padding-left: 64px !important; }

.p-x-xxl {
  padding-right: 64px !important;
  padding-left: 64px !important; }

.p-y-xxl {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.title {
  font-size: 2.3125em;
  margin-bottom: 2rem; }
  .title span {
    border-bottom: 1px solid #B4D0DE;
    padding-bottom: 5px; }

.title-underline,
.title-underline2 {
  border-bottom: 1px solid #DDDAD3;
  padding-bottom: 0.66667rem; }

.title-underline2 {
  position: relative; }
  .title-underline2::after {
    display: block;
    height: 1px;
    width: 6%;
    background: #7C6A42;
    position: absolute;
    bottom: -1px;
    left: 0; }

.font-tiny, .goTop small {
  font-size: 0.8125rem; }

.font-sm {
  font-size: 0.875rem; }

.font-md {
  font-size: 0.9375rem; }

.font-lg {
  font-size: 1.25rem; }

.font-xl {
  font-size: 1.5625rem; }

.font-xxl {
  font-size: 2.25rem; }

.font-xxxl {
  font-size: 3rem; }

.font-jumbo {
  font-size: 4.0625rem; }

.text-white {
  color: white; }

.bg-white {
  background: white; }

.text-primary {
  color: #6b5c39; }

.bg-primary {
  background: #7C6A42; }

.text-secondary {
  color: #d9a045; }

.bg-secondary {
  background: #DDAB5A; }

.text-muted {
  color: #eae5d9; }

.bg-muted {
  background: #F3F0E9; }

.text-success {
  color: #87af20; }

.bg-success {
  background: #98C524; }

.text-info {
  color: #008b81; }

.bg-info {
  background: #00A599; }

.text-warning {
  color: #fee08d; }

.bg-warning {
  background: #FEE7A6; }

.text-danger {
  color: #ec7b68; }

.bg-danger {
  background: #EF8F7F; }

@media (max-width: 61.1875em) {
  .mobile-hide {
    display: none;
    visibility: hidden; } }

.navbar {
  height: 80px;
  background: #FEE7A6; }

#menu {
  z-index: 20; }
  #menu a {
    color: #7C6A42;
    font-size: 1.125em;
    height: 100%;
    line-height: 80px;
    letter-spacing: 1px; }
  @media (max-width: 61.1875em) {
    #menu {
      position: fixed;
      top: 0;
      overflow-y: auto;
      z-index: 999;
      background: #424242;
      width: 100%;
      height: 100%;
      margin-top: 0;
      overflow-x: hidden;
      visibility: hidden;
      top: -50%;
      left: 0;
      opacity: 0;
      padding: 3% 0;
      -webkit-transition: top 0.5s, opacity 1s;
      transition: top 0.5s, opacity 1s; }
      .overlay #menu {
        top: 0;
        visibility: visible;
        opacity: 1; } }
