@charset "UTF-8";

@import "helper/function";

// import
// ------------------------------------------------------------
// 本次專案專用變數
@import "_admin/color";
@import "_admin/settings";

// 共用
@import "helper/variables";
@import "helper/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置復位
@import "vendor/print";     // 列印樣式

@import "base/basic";
@import "base/table";
@import "base/form";
@import "base/util";

// 本頁專用
@import "_admin/layout";
@import "_admin/module/goTop";
@import "_admin/module/list";
@import "_admin/module/list-group";
@import "_admin/module/btn";
@import "_admin/module/label";
@import "_admin/module/breadcrumb";
@import "_admin/module/collapse";
@import "_admin/module/classes";
@import "_admin/module/loader";


// main
// ------------------------------------------------------------
.title-bar {
    @extend .text-left;

    z-index: z(main) + 1;
    vertical-align: middle;
    height: $sidebar-title-height;
    padding-left: $gutter;
    padding-right: $gutter*1.8;

    background: $brand-primary-light;
    color: $white;
    font-size: em(14);
    line-height: $sidebar-title-height;

    &.fixed {
        @include fixed(top 0);
        @extend .full;
    }

    // 線上人數
    .count {
        @extend %float-l, .m-a-0, .text-white;

        width: $sidebar-width + ($gutter*.7);
        font-size: 1em;
        line-height: $sidebar-title-height;
    }

    // 用戶編號 申報年份
    .input-inline {
        @extend .bg-white;
        border: 1px solid #AACF88;
        color: darken($brand-primary,30);
        min-width: 80px;
        max-width: 300px;

        @include form-element-focus;

        @include mq(wider) {
            max-width: 650px;
        }

        &:not(:last-child) { margin-right: $gutter; }
        &:not(select) { padding: 2px 8px; }
    }

    // 經濟部核備狀況
    .charge {
        @extend %float-r, .text-white;

        height: 100%;
        padding-left: $gutter*.8;
        padding-right: $gutter*.8;
        background: $teal;
    }

    // 用戶編號 by typeahead
    .col-rest {overflow: visible;}
    .typeahead-group {
        margin-right: $gutter;
        line-height: 1.01;
    }
}

// 白底預設樣式
.card {
    @extend .bg-white, .m-b-16;
    color: #555849;
    box-shadow: 0 2px 2px #EDEDED;
}

// == 能源查核申報
.report-info,
.report-state {
    @extend .p-a-md, .p-y-16;
}
// 申報資訊
.report-info {
    .btn-white { @extend %full, .text-center, .m-b-16; }
}
// 審核狀態
.report-state {
    @extend %float-r, .font-sm;

    width: 40%;

    .btn-white {
        @extend .p-a-xs;
        line-height: $line-height;
    }
}

.report-list {
    @extend .clear, .p-a-4, .bg-white;

    // .btn { @extend .p-a-sm; }

    i { margin-left: 5px; }

    tr {
        th,
        td:nth-child(3),
        td:nth-child(4),
        td:nth-child(5) { white-space: nowrap; }
    }
}

.report-list-table {
    @extend .table-bordered, .table-hover, .table-striped-rowspan, %full, .m-a-0;
}