@charset "UTF-8";

// var
// ------------------------------------------------------------


// import
// ------------------------------------------------------------

// Core variables and mixins
@import "helper/variables";
@import "_web/var";

@import "helper/mixins";
@import "helper/function";

// Reset and dependencies
@import "base/normalize";
@import "base/print";
@import "base/reboot";

// Elements
@import "element/type";
@import "element/images";
@import "element/tables";
@import "element/forms";
@import "element/buttons";

// Layout
@import "layout/grid";

// Module
@import "module/animation";
@import "module/button-group";
@import "module/input-group";
@import "module/custom-forms";
@import "module/nav";
@import "module/navbar";
@import "module/card";
@import "module/breadcrumb";
// @import "module/pagination";
// @import "module/pager";
@import "module/labels";
// @import "module/jumbotron";
// @import "module/alert";
// @import "module/list-group";
// @import "module/responsive-embed";
// @import "module/close";

// Components w/ JavaScript
@import "module/dropdown";
// @import "module/modal";
// @import "module/tooltip";
// @import "module/popover";
// @import "module/carousel";

// Utility classes
@import "helper/utilities-extends";
@import "helper/utilities";
@import "helper/extend";
@import "helper/classes";
// @import "helper/utilities-background";
@import "helper/utilities-spacing";
@import "helper/utilities-responsive";

@import "_web/element";
@import "_web/module";
@import "_web/editor";
@import "_web/layout";


// Elements
// ----------------------------------------------------------------------
.editor img {max-width: 100%;}

.title {
	width: 100%;
	position: absolute;
	left: 0;
	top: -155px;
}

#map {
	width: 100%;
	height: 380px;
	border: 3px solid #fff;

	iframe {
		width: 100% !important;
		height: 100% !important;
	}
}


// Layout
// ----------------------------------------------------------------------
#main {
    margin-top: 245px;
    padding-bottom: $content-spacing;
    position: relative;
    background: #F5F5E4;

    &::before {
        content:" ";
        display: block;
        width: 100%;
        height: 128px;

        position: absolute;
        left: 0; top: -128px;

        background: url(#{$img-path}/mainBg.png) repeat-x;
    }

    #content {
        min-height: 300px;
        margin-top: -25px;
    }
}

// Neighbor Content
.Neighbor.Content {
	#header {
		height: 343px;

		.logo {
			padding: 30px 0 40px 0;

			span {display: block;}

	    	.parent {
	    		@include text-pic('logo.gif', 172px, 50px);
	    		margin: 0 auto;
	    		background-size: cover;
	    		a {@include text-hide;}
	    	}

	    	.child {
	    		margin-top: $spacer*0.8;
	    		text-align: center;
	    		font-size: 0.9em;
	    		a {color: #98560B;}
	    	}
		}

		#menu {

			li:nth-of-type(3) a,
			li:nth-of-type(4) a,
			li:nth-of-type(6) a {
				padding-top: $spacer*2;
				z-index: 0;

				&:hover {
					padding-top: $spacer*1.5;
					z-index: 100;
				}
			}

			&.fixed {
				@include media-breakpoint-up(xl) {
					width: 1170px;
					position: fixed;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					z-index: $zindex-navbar;

					&::after {display: none;}

					a {
						height: 50px;
						padding: 10px 0;

						&:hover {padding: 5px 0;}

						[class*="icon-"] {display: none;}
					}

					li:nth-of-type(3) a,
					li:nth-of-type(4) a,
					li:nth-of-type(6) a {
						padding: 10px 0;
						&:hover {padding: 5px 0;}
					}
				}
			}

		}
	}
}


// Sell / Rent
// ----------------------------------------------------------------------
.filter {

	.btn {font-size: em(20px);}
	.btn-secondary {
		[class*="ti-"] {
			margin-left: $spacer*0.3;
			font-size: $font-size-sm;
			color: lighten($brand-secondary,10%);
			opacity: 1;
			transition: opacity 0.3s;
		}
	}
	.open .btn-secondary, .btn-secondary.active {
		[class*="ti-"] {opacity: 0;}
	}

	.dropdown-toggle {
		&::after {display: none;}
	}
	.dropdown-menu {
		min-height: 100px;
		padding-left: $spacer*0.5;
		padding-right: $spacer*0.5;

		&.city {width: 600px;}
		&.district {width: 600px;}
		&.price {width: 300px;}
		&.usage {width: 300px;}
		&.size {width: 300px;}
		&.type {width: 300px;}
		&.other {width: 600px;}
	}

	.card {
		padding: $spacer*0.5;
		color: $body-color;
		border: $dropdown-border-width solid $dropdown-border-color;

		.grid:not(:last-child) {margin-bottom: $spacer;}
	}
}

.result {
	strong {margin: 0 $spacer*0.5;}
}

.pro {
	@extend .col-xs-4;
	margin-bottom: $grid-gutter-width;

	.card {margin-bottom: 0;}

	.card-img-top {
		opacity:1;
		transition: opacity 0.35s;

		&:hover {opacity: 0.7}
	}

	.card-block {
		height: 250px;
		position: relative;
	}

	.feature, .info {
		max-height: $line-height*2em;
		overflow: hidden;
	}

	.feature {
		margin-bottom: $spacer*0.3;
		font-weight: bold;

		li {
			margin-right: 0;

			&:not(:last-child)::after {
				content:"／";
				margin-left: $spacer*0.2;
			}
		}
	}

	.info {
		margin-bottom: $spacer*0.5;
		li {margin-right: $spacer*0.8;}
	}

	.price {
		font-size: em(26px);

		strong {
			margin-right: $spacer*0.2;
			line-height: 1;
			font-size: em(40px, 26px);
		}
	}

	.more {
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: em(20px);
		letter-spacing: 0.1em;
		border-radius: 0;
	}

	&.style2 {
		.card-block {height: 110px;}
		.feature, .info {max-height: $line-height*1em;}
		.more {position: static;}
	}
}

.grid-pro {

	.thumb, .profile {@extend .col-xs-6;}

	.thumb {

		.img-thumbnail {
			display: block;
			margin-bottom: $spacer;
		}
	}

	.profile {

		.h4 {
			padding-bottom: $spacer*0.7;
			font-size: em(20px);
			border-bottom: 1px solid #ccc;

			.label {font-weight: normal;}
		}

		.detail {
			&, &-text {word-break: break-all;}

			li {
				padding: $spacer*0.3;
				border-bottom: 1px dotted #ccc;

				&:last-child {border-bottom-style: solid;}

				.grid {
					@extend .col-xs-4;
					+ .grid {@extend .col-xs-8;}
				}

				.text-secondary {
					display: inline-block;
					width: 6em;
					text-align: right;
				}
				.price {
					margin-right: $spacer*0.3;
					font-size: $font-size-lg;
				}
				
			}

			&-text {
				p {
					margin-bottom: 0;
					padding: $grid-gutter-width/6 $grid-gutter-width/2;
					border-bottom: 1px dotted #ccc;

					&:last-of-type {margin-bottom: $spacer;}
				}
			}
		}

		.more-info {

			li {
				float: left;
				margin-left: $spacer*0.625;
			}

			.tel {
				margin-right: $spacer;
				strong {
					color: #CC5520;
					font-size: em(25px);
				}
			}

			.btn {
				min-width: 6.5em;
			}
		}
	}
}

.grid-info {
	+ .grid-info {margin-top: $spacer*3;}

	.article {
		+ .article {margin-top: $spacer*2;}
		.h4 {
			color: $brand-secondary;
			font-weight: bold;
		}
	}

	.gallery {
		li {
			@extend .col-xs-4;
			margin: $grid-gutter-width/2 0;

			.img-thumbnail {
				display: block;
				height: 215px;
				position: relative;
				padding: 0;
				border: $spacer*0.25 solid #fff;
				box-shadow: 0 0 2px #ccc;
				overflow: hidden;
				img {
					width: auto;
					max-width: 200%;
					min-height: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	.bulletin {
		li {
			@include clearfix;

			&:not(:last-child) {
				margin-bottom: $spacer*0.5;
				padding-bottom: $spacer*0.5;
				border-bottom: 1px dotted hsla(0,0,0,0.3);
			}

			.date {
				display: block;
				color: #847D53;
			}

			a {
				@include text-truncate;
				display: block;
				width: 100%;
				height: 1.5em;
				font-weight: bold;
				font-size: em(20px);
			}
		}
	}

	.swiper-button-prev, .swiper-button-next {
		display: inline-block;
		width: 30px;
		height: 30px;
		position: static;
		margin: 0;
		background-color: lighten($brand-secondary,35%);
	}
	.swiper-button-prev {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23B9B440'%2F%3E%3C%2Fsvg%3E");
		background-size: 60% 60%;
	}
	.swiper-button-next {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23B9B440'%2F%3E%3C%2Fsvg%3E");
		background-size: 60% 60%;
	}

	.contact-list {
		li {
			margin-bottom: $spacer*0.5;
			padding-bottom: $spacer*0.5;
			border-bottom: 1px dotted #ccc;
		}
	}

	#marquee {
		height: 100px;

		ul {height: 100%;}

		li {
			width: 20%;
			height: 100%;
			margin: 0 $spacer*0.3;
			border: 1px solid #fff;

			img {
				width: 100%;
				min-height: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			.title {
				@extend .text-truncate;
				display: block;
				width: 100%;
				height: 1.5em;
				position: absolute;
				left: 0;
				top: 60%;
				transform: translateY(-50%);
				padding: 0 $spacer*0.5;
				text-align: center;
				color: #fff;
				z-index: 2;
				opacity: 0;
				transition: opacity 0.35s, top 0.35s;
			}

			a {
				display: block;
				width: 100%;
				height: 100%;

				&::before {
					content: " ";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					background: hsla(0,0,0,0.4);
					z-index: 1;
					opacity: 0;
					transition: opacity 0.35s;
				}

				&:hover {
					&::before, .title {opacity: 1;}
					.title {top: 50%;}
				}
			}

		}
		.swiper-button-prev, .swiper-button-next {
			position: absolute;
			margin-top: -15px;
			background-color: hsla(0,0,0,0.3);
			z-index: 10;
		}
		.swiper-button-prev {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
		}
		.swiper-button-next {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
		}
	}
}


// Vendor
// ----------------------------------------------------------------------
.yellowpage {
	position: relative;
	margin-bottom: $spacer*2;
	padding: $spacer;
	padding-left: 30%;
	background: #fff;

	.thumb {
		width: 30%;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
		vertical-align: middle;
		overflow: hidden;
		border: $spacer solid #fff;

		a {
			display: block;
			height: 100%;
		}

		i, img {
			position: absolute;
			left: 50%;
			top: 50%;
			transition: transform 0.8s, opacity 0.5s;
		}

		i {
			display: block;
			@include size(54px);
			text-align: center;
			line-height: 54px;
			color: #fff;
			font-size: em(24px);
			background: $brand-secondary;
			border-radius: 50%;
			opacity: 0;
			z-index: 100;
			transform: translate(-50%, -70%);
		}

		img {
			max-width:150%;
			min-height: 100%;
			opacity: 1;
			transform: translate(-50%, -50%);
		}

		a:hover {
			i {
				opacity: 1;
				transform: translate(-50%, -50%);
			}
			img {
				opacity: 0.7;
				transform: translate(-50%, -50%) scale(1.2);
			}
		}
	}

	.des {
		.h4 {color: $brand-primary;}

		.intro {
			margin-bottom: $spacer*0.5;
			font-size: $font-size-lg;
			color: $gray;
		}

		.info {
			margin-bottom: 0;
			padding-top: $spacer*0.5;
			font-size: em(15px);
			border-top: 1px solid $gray-lighter;
		}
	}
}


// VIP
// ----------------------------------------------------------------------
.apply {
	.row {
		margin-left: -$grid-gutter-width/4;
		margin-right: -$grid-gutter-width/4;
	}
	[class*="col-"] {
		padding: 0 $grid-gutter-width/4;
	}
}
.alert-striped {
	margin-bottom: $spacer;
	padding: $grid-gutter-width/2;
	color: #666;
	background: #fff;
	border-left: 4px solid #ccc;
	.alert-title {font-weight: bold;}

	&.alert-primary {
		border-left-color: $brand-primary;	
		.alert-title {color: $brand-primary;}
	}
	&.alert-success {
		border-left-color: $brand-success;	
		.alert-title {color: $brand-success;}
	}
	&.alert-info {
		border-left-color: $brand-info;	
		.alert-title {color: $brand-info;}
	}
}
.term {
	padding: $grid-gutter-width/2;
	background: #fff;
	border: 1px solid hsla(0,0,0,0.2);
}