@charset "UTF-8";


/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
%center {
    max-width: $max-width;
    margin: 0 $gutter*4;
    @include mq(wider) { margin: 0 auto; }

    @if $enable-RWD {
        @include mq-max(tablet) { margin: 0; }
    }
    @else {
        @include mq-max(break(wide,-1)) {
            margin: 0;
            padding-left: $gutter*2;
            padding-right: $gutter*2;
        }
    }
}

// RWD容器
%contain {
    @extend %clearfix;

    @if $enable-RWD {
        @include mq-max(tablet) {
            padding-left: $gutter;
            padding-right: $gutter;
        }
    } @else {
        min-width: $min-width;
    }
}

// .wrap {
//     @extend %center;
//     @extend %contain;
// }

#header, #footer, #main, .wrap {
    @extend %contain;
}
#wrapper, #main, #footer {
    position: relative;
}
#wrapper {
    @if $lte7 { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距

    @if $wrapper-bg {
        background: $wrapper-bg;
    }

    @if not $enable-RWD {
        min-width: $min-width;
    }

    // 本次專案
    border-top: $line;
}


// header
// ----------------------------------------------------------------------
#header {
    @if $header-bg { background: $header-bg; }
    height: $header-height;
    z-index: z(header);

    // 本次專案
    width: 100%;
    padding: 0 10px;
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    z-index: z(logo);

    @if $logo-pos {
        @if $logo-pos == center {
            @include pos-center(x);
        }
        @else {
            @include absolute($logo-pos);
        }
    } @else {
        float: left;
    }

    // 本次專案
    @extend .text-left;
    letter-spacing: 2px;
    font-size: em(20);
    margin-left: $sidebar-width - 10;
    margin-top: 96px;

    strong, small { display: block; }
    strong {
        font-weight: normal;
        font-size: em(26,20);
        color: $brand-secondary;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    small {
        font-size: em(13,20);
        color: darken($brand-primary,15);
        letter-spacing: 7.2px;
    }
}
.slogan {
    @extend .text-left;
    font-size: em(18);
    color: $brand-primary-light;
    letter-spacing: 2px;
    @include absolute(left $sidebar-width top 62px);
}
// 經濟部能源局
.logo-boe {
    color: darken($brand-primary,25);
    letter-spacing: 2px;
    background: url(#{$img-path}/logo-boe.gif) 0 center no-repeat;
    padding: 8px 0 8px 45px;

    @include absolute(left $gutter*1.8 top 20px);
}
.logo, .slogan, #header .logo-boe {
    @include mq-max(break(wide,-1)) {
        left: $gutter*2;
    }
}

.top-nav {
    @extend .p-a-md;

    @include absolute(right $gutter*1.8 top 0);

    font-size: em(14px);
    background: $white;
    color: darken($brand-primary,25);

    li {
        float: left;

        @include el(after,inline,'|') {
            font-size: em(10);
            color: #C8C8C8;
            margin: 0 10px;
        }

        &:last-child::after { display: none;}
    }
}


// main
// ----------------------------------------------------------------------
#main {
    @extend .text-left;
    padding: $gutter*1.25 $gutter*1.8 $content-spacing;
    // margin-top: ($header-height + $sidebar-title-height);
    margin-left: $sidebar-width;
    z-index: z(main);
}


// sidebar
// ----------------------------------------------------------------------
#sidebar {
    @include absolute(left 0 top ($header-height + $sidebar-title-height) bottom 0);

    z-index: z(sidebar);
    width: $sidebar-width;
    background: #fff;
    border-right: 4px solid #E4E4E4;

    &.fixed {
        @include fixed(top $sidebar-title-height);
    }

    .collapse-toggle,
    .collapse-content {
        border-bottom: 1px solid #E4E4E4;
    }

    .collapse-toggle {
        padding: 12px $gutter*.625;
        color: darken($brand-primary,38);
        font-size: em(17);

        @include transition(all .35s);

        &:hover, &:active, &:focus {
            color: $brand-secondary;
            background: $body-bg;
        }
        // icon
        &::before {
            font-weight: normal;
            margin-right: 10px;
        }
        &.current {
            background: #E5ECBB;
            position: relative;

            @include el(after) {
                background: url(#{$img-path}/leftnav_current.png) right center no-repeat;
                width: 15px;
                height: 100%;
                @include absolute(right -14px top 0);
            }
        }
    }

    a {
        display: block;
        position: relative;
        padding: 7px 7px 7px $gutter*2.25;
        color: $body-color;
        font-size: em(15,17);
        border-bottom: 1px dotted #E4E4E4;

        &:last-child { border-bottom: 0; }

        @include el(all) {
            position: absolute;
        }
        // 選單左直虛線
        &::before {
            @include size(1px,100%);
            border-left: 1px dotted lighten($brand-primary,20%);
            top: 0; left: 18px;
            z-index: z(sidebar) + 2;
        }
        // 選單左橫虛線
        &::after {
            @include size(7px, 1px);
            border-bottom: 1px dotted lighten($brand-primary,20%);
            top: 50%; left: 19px;
        }

        // 選單左邊icon小箭頭
        .arrow {
            opacity: 0;
            transition: opacity .15s;
        }

        &:hover, &:active, &:focus, &.current {
            color: $brand-primary;

            &::after { display: none; }

            .arrow { opacity: 1; }
        }

        &.current .arrow::before { border-left-color: $lime; }
    }
}
