
@{
    ViewBag.Title = "LITA CAFFEE";
    ViewBag.BodyClass = "Products";
    ViewBag.subNav = "sub1"; // 咖啡品項 sub1、季節限定 sub2
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("product-nav")

@* 彈出特效 - 商品多種包裝(規格類型) *@
<div id="detail" class="modal">
    <button onclick="document.getElementById('detail').style.display='none'" class="btn-close icon-cross"></button>

    <form class="modal-content animate-zoom">

        <table class="shopping-list">
            <tr>
                <td class="item">
                    袋裝咖啡豆
                    <small class="block text-info">NT$ 330</small>
                </td>
                <td class="spec">
                    250g/包
                </td>
                <td class="num">
                    <input type="number" value="1" min="1" class="form-element text-center">
                </td>
                <td class="add-cart">
                    <i class="icon-cart"></i>
                    @* 加到購物車後，top> Basket會呈現購物車數量 *@
                    <button class="btn">ADD</button>
                </td>
            </tr>
            <tr>
                <td class="item">
                    10入濾掛包
                    <small class="block text-info">NT$ 380</small>
                </td>
                <td class="spec">
                    110g/盒
                </td>
                <td class="num">
                    <input type="number" value="1" min="1" class="form-element text-center">
                </td>
                <td class="add-cart">
                    <i class="icon-cart"></i>
                    @* 加到購物車後，top> Basket會呈現購物車數量 *@
                    <button class="btn">ADD</button>
                </td>
            </tr>
            <tr>
                <td class="item">
                    5入濾掛包
                    <small class="block text-info">NT$ 190</small>
                </td>
                <td class="spec">
                    55g/盒
                </td>
                <td class="num">
                    <input type="number" value="1" min="1" class="form-element text-center">
                </td>
                <td class="add-cart">
                    <i class="icon-cart"></i>
                    @* 加到購物車後，top> Basket會呈現購物車數量 *@
                    <button class="btn">ADD</button>
                </td>
            </tr><tr>
                <td class="item">商業豆</td>
                <td class="spec">2000g/包</td>
                <td colspan="2" class="text-left">歡迎來電洽談 00-000-0000</td>
            </tr>
        </table>
    </form><!-- modal-content //-->

</div><!-- detail //-->

<section class="row">
    <dl class="col-7 products-intro">
        @* 品名 *@
        <dt>瓜地馬拉</dt>
        @* 簡介 *@
        <dd>
            <ul class="m-l-24">
                <li>
                    風味：入口明朗的漿果風味，果酸細緻多變，若隱若現的花香氣息，層次豐富迷人。<br>
                    香: 3 甘: 2 苦: 3 酸: 3 醇: 2 (1~5)
                </li>
                <li>處理法：水洗</li>
                <li>焙度：中淺烘焙</li>
                <li>保存期限：60天 製造日期：詳見包裝</li>
                <li>風味鑑賞：前段檸檬皮的清香，李子的果酸，質地乾淨，尾段回甜快。</li>
                <li>保存方式：避免陽光直射，存放在陰涼處，若超過14天可冷藏以延長最佳風味。</li>
            </ul>
        </dd>
        <dd class="btn-bar">
            <a class="btn bg-danger" onclick="document.getElementById('detail').style.display='block'">我要購買</a>
        </dd>
    </dl>
    <div class="col-5 products-pic">
        <img src="~/Content/images/Products/pic-l.jpg" alt="產品圖demo-寬不超過600px">
    </div>
</section>

@* 編輯器 - 後台若無資料，則不顯示 *@
<section class="editor">
    產品更多介紹
</section>
