@model DotWeb.Controllers.ProductList
@{
    ViewBag.Title = "LITA CAFFEE";
    ViewBag.BodyClass = "Products";
    ViewBag.subNav = "sub1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("product-nav", Model.menuStroe)

@foreach (var p in Model.products)
{
    <figure class="kind-list">
        <img src="@p.img_src" alt="產品圖">
        <a href="~/Products/Detail?id=@p.product_id#main"></a>
        <figcaption>@p.product_name</figcaption>
    </figure>
}
