
@{
    ViewBag.Title = "LITA CAFFEE";
    ViewBag.BodyClass = "Products";
    ViewBag.subNav = "sub1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("product-nav")

<figure class="kind-list">
    <img src="~/Content/images/Products/pic.jpg" alt="產品圖">
    <a href="~/Products/Detail#main"></a>
    <figcaption>瓜地馬拉</figcaption>
</figure>