@model IEnumerable<ProcCore.Business.DB0.ProductKind>
<nav class="sub-nav sub-navImg m-b-64">
    @foreach (var i in Model)
    {
        <a class="@(ViewBag.menu == i.product_kind_id? "current" : "")" href="~/Products?kind=@i.product_kind_id#main"><span>@i.kind_name</span></a>
    }
</nav>