
<ul class="sub-nav">
    <li>
        <img src="~/Content/images/Products/sort.jpg" alt="分類圖">
        <a class="@(ViewBag.subNav == "sub1" ? "current" : "")" href="~/Products/Kind#main">咖啡品項</a>
    </li>
    <li>
        <img src="~/Content/images/Products/sort.jpg" alt="分類圖">
        <a class="@(ViewBag.subNav == "sub2" ? "current" : "")" href="~/Products/Taste#main">品嘗LITA</a>
    </li>
    <li>
        <img src="~/Content/images/Products/sort.jpg" alt="分類圖">
        <a class="@(ViewBag.subNav == "sub3" ? "current" : "")" href="~/Products/Special#main">季節限定</a>
    </li>
</ul>