
<ul class="sub-nav m-b-64">
    <li>
        <img src="~/Content/images/Products/sort.jpg" alt="分類圖">
        <a class="@(ViewBag.subNav == "sub1" ? "current" : "")" href="~/Products/Normal#main">咖啡品項</a>
    </li>
    <li>
        <img src="~/Content/images/Products/sort.jpg" alt="分類圖">
        <a class="@(ViewBag.subNav == "sub3" ? "current" : "")" href="~/Products/Special#main">季節限定</a>
    </li>
    <li>
        <img src="~/Content/images/Products/sort.jpg" alt="分類圖">
        <a class="@(ViewBag.subNav == "sub2" ? "current" : "")" href="~/Products/Normal#main">其他</a>
    </li>
</ul>