
@{
    ViewBag.Title = "LITA CAFFEE";
    ViewBag.BodyClass = "Products";
    ViewBag.subNav = "sub3";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("product-nav")

@Html.Partial("Detail")

<figure class="kind-list">
    <img src="~/Content/images/Products/pic.jpg" alt="產品圖">
    <a onclick="document.getElementById('detail').style.display='block'"></a>
    <h3>迎光飛翔畢業季特惠組</h3>
    <figcaption>
        <i class="icon-magnifying-glass"></i>
    </figcaption>
</figure>