
@{
    ViewBag.Title = "LITA CAFFEE";
    ViewBag.BodyClass = "Products";
    ViewBag.subNav = "sub2";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("product-nav")

@* 編輯器 - 可新增多筆編輯器 *@
<section class="taste-summary">
    @* 編輯器內容 *@
    Comming soon
</section>