
@{
    ViewBag.Title = "LITA CAFFEE";
    ViewBag.BodyClass = "Products";
    ViewBag.subNav = "sub2";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("product-nav")

<section class="taste-summary">
    @* 編輯器 *@
    介紹文案
</section>