@{
    ViewBag.Title = "WELCOME";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}
@section scripts {
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('#banner', {
            autoplay: 5000,
            speed: 1000,
            autoplayDisableOnInteraction: false
        });
    </script>
}
@section Banner {
    <div id="banner" class="swiper-container">
        <ul class="swiper-wrapper list-unstyled">
            <li class="swiper-slide"><img src="~/Content/images/Index/banner.jpg"></li>
            <li class="swiper-slide"><img src="~/Content/images/Index/banner2.jpg"></li>
        </ul>
    </div>
}


@* 廣告Banner *@
@* <section class="wrap jumbo">
    <img src="~/Content/images/Index/jumbo.jpg" alt="jumbo demo">
</section> *@

@* youtube *@
<section class="wrap youtube">
    <iframe src="https://www.youtube.com/embed/X3900kUzu20" frameborder="0" allowfullscreen></iframe>
</section>

@* 最新消息 *@
<section class="wrap news">
    @* 最新消息，最多顯示3則 *@
    <figure class="news-list">
        <img src="~/Content/images/News/pic1.jpg" alt="消息列表圖">
        <a href="~/News/Content"></a>
        <figcaption>
            <h3>一顆咖啡豆的溫度</h3>
            @* 消息簡介，最多45字，多的加... *@
            <p>2012年冬天，一群不畏寒冷的志工前往OO國小開辦了第一屆課後陪讀班，許多隔代教養的孩子...</p>
            <a href="~/News/Content" class="btn float-r">Read More</a>
        </figcaption>
    </figure>

    <figure class="news-list">
        <img src="~/Content/images/News/pic2.jpg" alt="消息列表圖">
        <a href="~/News/Content"></a>
        <figcaption>
            <h3>一顆咖啡豆的溫度</h3>
            @* 消息簡介，最多45字，多的加... *@
            <p>2012年冬天，一群不畏寒冷的志工前往OO國小開辦了第一屆課後陪讀班，許多隔代教養的孩子...</p>
            <a href="~/News/Content" class="btn float-r">Read More</a>
        </figcaption>
    </figure>

    <figure class="news-list">
        <img src="~/Content/images/News/pic3.jpg" alt="消息列表圖">
        <a href="~/News/Content"></a>
        <figcaption>
            <h3>一顆咖啡豆的溫度</h3>
            @* 消息簡介，最多45字，多的加... *@
            <p>2012年冬天，一群不畏寒冷的志工前往OO國小開辦了第一屆課後陪讀班，許多隔代教養的孩子...</p>
            <a href="~/News/Content" class="btn float-r">Read More</a>
        </figcaption>
    </figure>
</section>

@* FB Banner *@
@* <section class="wrap fb-banner">
    <img src="~/Content/images/Index/FB-banner.gif" alt="FB Banner demo">
</section> *@