@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {

}

<section class="wrap jumbo">
    <img src="~/Content/images/Index/jumbo.jpg" alt="jumbo demo">
</section>

<section class="wrap youtube">
    <img src="~/Content/images/Index/youtube.jpg" alt="youtube demo">
</section>

<section class="wrap news">
    @* 最新消息，最多顯示3則 *@
    <figure class="news-list">
        <img src="~/Content/images/News/pic1.jpg" alt="消息列表圖">
        <a href="~/News/Content"></a>
        <figcaption>
            <h3>一顆咖啡豆的溫度</h3>
            @* 消息簡介，最多45字，多的加... *@
            <p>2012年冬天，一群不畏寒冷的志工前往OO國小開辦了第一屆課後陪讀班，許多隔代教養的孩子...</p>
            <a href="~/News/Content" class="btn float-r">Read More</a>
        </figcaption>
    </figure>

    <figure class="news-list">
        <img src="~/Content/images/News/pic2.jpg" alt="消息列表圖">
        <a href="~/News/Content"></a>
        <figcaption>
            <h3>一顆咖啡豆的溫度</h3>
            @* 消息簡介，最多45字，多的加... *@
            <p>2012年冬天，一群不畏寒冷的志工前往OO國小開辦了第一屆課後陪讀班，許多隔代教養的孩子...</p>
            <a href="~/News/Content" class="btn float-r">Read More</a>
        </figcaption>
    </figure>

    <figure class="news-list">
        <img src="~/Content/images/News/pic3.jpg" alt="消息列表圖">
        <a href="~/News/Content"></a>
        <figcaption>
            <h3>一顆咖啡豆的溫度</h3>
            @* 消息簡介，最多45字，多的加... *@
            <p>2012年冬天，一群不畏寒冷的志工前往OO國小開辦了第一屆課後陪讀班，許多隔代教養的孩子...</p>
            <a href="~/News/Content" class="btn float-r">Read More</a>
        </figcaption>
    </figure>
</section>