@charset "UTF-8";


// cards
// ----------------------------------------------------------------------
.card-img-top {
    display: block;
    height: 197px;
    position: relative;

    text-align: center;
    overflow: hidden;

    img {
        min-width: 100%;
        min-height: 100%;
        max-width: 200%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.card-block {
    color: #000;
}

.card-title {
    @include text-truncate;
    color: #E37900;
    font-size: em(26px);

    a {
        color: #E37900;
        &:hover {color: $link-color;}
    }
}

.card-subtitle {
    @include text-truncate;
    margin: $spacer*0.5 0;
    color: #5E5E5E;
    font-size: em(20px);
}


// labels
// ----------------------------------------------------------------------
.label-sell {background: #2E8F87;}
.label-rent {background: $brand-info;}


//breadcrumb
// ----------------------------------------------------------------------
.breadcrumb {
    text-align: right;
    font-size: em(12px);

    li {
        display: inline-block;
        float: none;
    }

    a {
        color: #998675;
        &:hover {color: $link-hover-color;}
    }
}


// navs
// ----------------------------------------------------------------------
.nav-tabs {

    text-align: center;
    border-bottom-width: 3px;

    .nav-item {
        display: inline-block;
        float: none;
    }

    .nav-link {
        color: $body-color;

        &:hover {color: $brand-secondary;}
    }

    @include media-breakpoint-down(xs) {
        .nav-item {
            font-size: $font-size-sm;
            margin: 0;

            .nav-link {padding: 0.5em;}
        }
    }

}

.tab-content {
    background: #fff;
    box-shadow: 0 10px 10px -10px #666 inset;

    padding: $spacer*2;
}


// custom forms
// ----------------------------------------------------------------------

// for radio/checkbox which are in the form with rows
.input-inline-group {padding: $input-padding-y $input-padding-x;}

.c-input {
    display: inline-block;

    & + & {margin-left: 0;}
    &:not(:last-child) {margin-right: $spacer;}

    .input-block-group & {display: block;}
}

.c-indicator {
    top: $input-padding-y*0.65;

    .c-input > input:checked ~ &,
    .c-input > input:indeterminate ~ & { background-color: $brand-danger; }
    .c-input > input:focus ~ & {box-shadow: none;}
}


// carousel
// ----------------------------------------------------------------------
#banner {
    .swiper-pagination {
        bottom: 0;

        height: 30px;
        line-height: 30px;
        background: hsla(0,0,0,0.5);

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: #B2B2B2;
            border:2px solid #fff;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: $brand-secondary;
            border-color: #fff;
        }
    }
}


// popup
// ----------------------------------------------------------------------
.mfp-with-fade {
  
  // before-open state
  .mfp-content,
  .mfp-arrow,
  &.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s ease-out; 
    -moz-transition: opacity 0.3s ease-out; 
    -o-transition: opacity 0.3s ease-out; 
    transition: opacity 0.3s ease-out;
  }
  
  
  // open state
  &.mfp-ready {
    .mfp-content,
    .mfp-arrow {
      opacity: 1;
    }
    &.mfp-bg {
      opacity: 0.8; // background opacity
    }
  }
  
  // closed state
  &.mfp-removing {
    .mfp-content,
    .mfp-arrow,
    &.mfp-bg {
      opacity: 0;
    }
  }
  
  
}


// loading
// ----------------------------------------------------------------------
.loading {
    width: 260px;
    margin: 0 auto;

    .loader {
        width: 40px;
        height: 40px;
        float: left;
        border-width: 3px;
        border-color: $brand-secondary $brand-secondary $brand-secondary lighten($brand-secondary, 20%);
    }

    p {
        float: left;
        padding: $spacer*0.8 0 0 $spacer*0.5;
    }
}