
@{
    ViewBag.Title = "LITA ACCOUNT";
    ViewBag.BodyClass = "User";
    ViewBag.subNav = "sub1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form action="" class="account-data">
    <fieldset class="m-b-48">
        <legend>變更密碼</legend>
        <table class="full">
            <tr>
                <td>
                    <input type="password" placeholder="請輸入新密碼" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" placeholder="再次輸入新密碼" />
                </td>
            </tr>
        </table>
        <footer class="submit text-center">
            <button class="btn font-lg p-y-12 p-x-48">儲存</button>
        </footer>
    </fieldset>
</form>

