
@{
    ViewBag.Title = "LITA ACCOUNT";
    ViewBag.BodyClass = "User";
    ViewBag.subNav = "sub1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script>
        var mail = '@Request.QueryString["mail"]';
        var code = '@Request.QueryString["code"]';
    </script>
    <script src="~/Scripts/build/front/forgotchgpw.js?v=@CommWebSetup.CacheVer"></script>
}

<form class="account-data" id="FPWChg">
    <fieldset class="m-b-48">
        <legend>變更密碼</legend>
        <table class="full">
            <tr>
                <td>
                    <input type="password" id="f_newpw" placeholder="請輸入新密碼" required
                           pattern="^.{6,16}$" maxlength="16"/>
                    <small class="text-danger">* 密碼長度至少六位以上</small>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="f_cfpw" placeholder="再次輸入新密碼" required
                           pattern="^.{6,16}$" maxlength="16"/>
                    <small class="text-danger">* 密碼長度至少六位以上</small>
                </td>
            </tr>
        </table>
        <footer class="submit text-center">
            <button class="btn font-lg p-y-12 p-x-48">儲存</button>
        </footer>
    </fieldset>
</form>

