
@{
    ViewBag.Title = "LITA ACCOUNT";
    ViewBag.BodyClass = "User";
    ViewBag.subNav = "sub1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>此連結已失效，請重新寄送忘記密碼通知信...</h1>

<form class="forgot-pwd">
    <div class="input-group">
        <label class="input-group-addon icon-paper-plane" data-title="E-mail"></label>
        <input class="form-element" type="email" id="m_email" required placeholder="請輸入E-mail地址">
    </div>
    <button class="btn">送出</button>
</form>