
@{
    ViewBag.Title = "LITA ACCOUNT";
    ViewBag.BodyClass = "User";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@section Scripts {
    <script src="~/Scripts/build/front/userregister.js?v=@CommWebSetup.CacheVer"></script>
}

<div id="page_content"></div>

