
<nav class="sub-nav m-b-48">
    <a class="@(ViewBag.subNav == "sub1" ? "current" : "")" href="~/User/Account#main">會員資料編輯</a>
    <a class="@(ViewBag.subNav == "sub2" ? "current" : "")" href="~/User/Receipt_list#main">歷史訂單</a>
</nav>