
@{
    ViewBag.Title = "LITA Basket";
    ViewBag.BodyClass = "Cart";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>感謝您的購買！我們將盡快核對資料出貨。</h2>
<h5>您現在可至 <a href="~/User/Account" class="text-success">會員資料</a> 的 <a href="~/User/Receipt_list" class="text-success">歷史訂單</a> 查看訂單資訊及出貨進度</h5>

<a href="~/Products" class="btn font-xl btn-success m-t-48">繼續購物 <i class="icon-navigate_next"></i></a>