
@{
    ViewBag.Title = "LITA Basket";
    ViewBag.BodyClass = "Cart";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="m-b-32 text-left">
    <h2 class="payment-title"><em>1</em>確定訂單明細</h2>
    <table class="payment-list">
        <tr>
            <th colspan="2">商品</th>
            <th>數量</th>
            <th>單價</th>
            <th class="text-left">小計</th>
        </tr>
        <tr>
            <td class="pic">
                <a href="~/Products/Detail#main" class="text-success"><img src="~/Content/images/Products/pic.jpg" alt="商品縮圖demo"></a>
            </td>
            <td class="text-left">
                產品編號: 02-010-01
                <h5>耶加雪菲</h5>
                規格型號: 10入濾掛包 <a href="~/Products/Detail#main" class="text-success m-l-16">查看產品介紹</a>
            </td>
            <td>1</td>
            <td>NT$ 490</td>
            <td class="text-left">NT$ 490</td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="3" class="text-left">
                    <span class="radio-group">
                        <input type="radio" name="pay" id="pay1">
                        <label for="pay1" class="icon"></label>轉帳匯款(滿NT$ 1000免運費)
                    </span>

                    <span class="radio-group">
                        <input type="radio" name="pay" id="pay2">
                        <label for="pay2" class="icon"></label>貨到付款(運費 NT$80)
                    </span>
                </td>
                <td class="text-right">運費</td>
                <td class="text-left">NT$ 10</td>
            </tr>
            <tr>
                <td colspan="4" class="text-right">總計</td>
                <td class="text-left text-danger">NT$ 500</td>
            </tr>
        </tfoot>
    </table>
</section>

<section class="m-b-32 text-left">
    <h2 class="payment-title"><em>2</em>填寫購買資訊</h2>
    <form action="" class="payment-data">
        <dl class="row">
            <dt class="col-2">* E-mail</dt>
            <dd class="col-10">
                <input type="email" class="form-element" placeholder="請填寫常用的電子信箱，未來將以此做為預設登入帳號" required>
                初此購物免註冊，若已有會員請先<button class="text-success" onclick="document.getElementById('login').style.display='block'">會員登入</button>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">* 收件人姓名</dt>
            <dd class="col-10">
                <input type="text" class="form-element" placeholder="未來將以此做為會員名稱" required>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">* 手機</dt>
            <dd class="col-4">
                <input type="tel" class="form-element" required>
            </dd>
            <dt class="col-2">聯絡電話</dt>
            <dd class="col-4">
                <input type="tel" class="form-element">
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">* 收件地址</dt>
            <dd class="col-2">
                <input type="number" min="0" class="form-element" placeholder="請輸入郵遞區號">
            </dd>
            <dd class="col-8">
                <input type="text" class="form-element" required>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">備註</dt>
            <dd class="col-10">
                <textarea rows="3" class="form-element"></textarea>
            </dd>
        </dl>
        <p class="icon-error">
            請至您的 Email 收取訂單及匯款通知。並於匯款後填寫 <u>已付款通知</u> 或來電告知帳號後五碼，完成訂購。
        </p>
        <footer class="submit">
            <a href="~/Order/Cart" class="float-l icon-navigate_before">修改訂單內容</a>
            @* 若要用 button
            <button class="float-r btn font-lg btn-success">填寫完成，送出訂單 <i class="icon-navigate_next"></i></button> *@
            <a href="~/Order/Step2_check" class="float-r btn font-lg btn-success">填寫完成，送出訂單 <i class="icon-navigate_next"></i></a>
        </footer>
    </form>
</section>