@charset "UTF-8";

$alerts: (
    success:    $success $pale-green,
    info:       $info $pale-blue,
    warning:    $warning $pale-yellow,
    danger:     $danger $pale-red
) !default;


@each $type, $color in $alerts {
    .alert-#{$type}   {
        color: nth($color,1);
        background: nth($color,2);
    }
}