@charset "UTF-8";

//
// breadcrumb
// --------------------------------------------------

.breadcrumb {
    @extend %list-inline;
    z-index: z(dropdown) - 1;

    // background: #F5F5F5;
    // border-bottom: 1px solid #E5E5E5;
    // height: $sidebar-title-height;
    // line-height: $sidebar-title-height;
    // margin-bottom: $spacer / 2;
    // padding-left: $sidebar-width + $gutter;


    // @include fixed(left 0 right 0 top $header-height);
    // @include absolute(left 0);
    // top: -($sidebar-title-height);

    li:not(:first-child)::before {
        padding: 0 8px;
        font-family: "FontAwesome";
        content:"\f105 ";
    }

    // .custom & { top: $banner-height; }

    // .nav-search {
    //     display: table;

    //     width: 180px;
    //     float: right;

    //     &:before { display: none; }

    //     .form-group {
    //         float: left;
    //         display: table-cell;
    //         vertical-align: middle;
    //         position: relative;
    //         border-color: lighten($brand-primary,10%);
    //     }
    //     input {
    //         width: 100%;
    //         border-right: none;
    //         border-radius: 5px 0 0 5px;
    //     }
    //     button {
    //         width: 1%;
    //         font-size: 0;

    //         color: lighten($brand-primary,20%);
    //         background: $white;
    //         border-left: 0;
    //         border-radius: 0 5px 5px 0;
    //     }
    // }
}