@charset "UTF-8";

.top-nav {
    @include absolute(right $gutter top 4px);

    font-size: em(14px);
    // height: $top-nav-height;

    // 本次專案
    background: $white;
    // height: auto;
    padding: 10px 20px;
    color: darken($brand-primary,25);

    li {
        float: left;

        @include el(after,inline,'|') {
            line-height: 14px;
            color: #C8C8C8;
            margin: 0 10px
        }

        &:last-child::after { display: none;}
    }

    // icon
    // .lnr {
    //     // color: $white;
    //     font-size: em(20);
    //     vertical-align: -0.1em;
    //     margin-right: 2px;
    // }
    // .root {
    //     display: block;
    //     height: $top-nav-height;
    //     line-height: $top-nav-height;
    //     padding: 0 12px;

    //     border-left: 1px solid $white;
    //     font-weight: bold;
    //     color: $white;
    //     text-shadow: 0 -1px rgba(black, .3);

    //     .lnr { color: $white; }
    // }

    // .dropdown-toggle {
    //     padding-right: 25px;
    // }

    // @each $class, $color in $top-nav {
    //     $root-color: nth($color, 1);
    //     $sub-color: nth($color, 2);

    //     .#{$class} {
    //         background: $root-color;

    //         &:hover, &:active, &:focus { background: darken($root-color, 7%); }

    //         .dropdown-content a:hover {
    //             background: $sub-color;
    //         }
    //     }
    // }
}