
@{
    @* Layout = "~/Views/Shared/Manage/RLayout.cshtml"; *@
    @* 暫用 *@
    Layout = "~/Views/Shared/SysLayoutDemo.cshtml";
    ViewBag.BodyClass = "Order";
    ViewBag.IsFirstPage = false;
    ViewBag.Crumb = "會員資料維護";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><i class="fa-caret-right"></i> 會員及訂單管理</li>
        <li><i class="fa-angle-right"></i> @ViewBag.Crumb</li>
    </ul>
}

<h3 class="h3">@ViewBag.Crumb</h3>

<header class="table-header">
    <div class="table-filter">
        <div class="form-inline">
            <label class="sr-only text-sm">關鍵字</label> @* 如要顯示文字: 把 sr-only 拿掉 *@
            <input type="text" class="form-control form-control-sm" placeholder="請輸入關鍵字...">
        </div>
    </div><!-- table-filter //-->
</header><!-- table-header //-->

<table class="table table-sm table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-xs-center">刪除</th> @* 文字置中: class="text-xs-center" / 置右: class="text-xs-right" *@
            <th class="text-xs-center">修改</th>
            <th>會員登入帳號(E-mail)</button></th>
            <th>姓名</th>
            <th>手機</th>
            <th>
                @* 點選排序功能 (點一下遞增, 點兩下遞減) *@
                <button class="th-sort-toggle">加入日期</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @* 建議: 1頁10筆資料 *@
        <tr>
            <td class="text-xs-center">
                <button class="btn btn-link btn-lg text-danger"><i class="fa-times"></i></button>
            </td>
            <td class="text-xs-center">
                <button type="button" class="btn btn-link btn-lg" onclick="location.href='Account_edit'"><i class="fa-pencil"></i></button>
            </td>
            <td>xxx@xxx.xxxx</td>
            <td>王小明</td>
            <td>0000-000-000</td>@* 手機號 *@
            <td>2016-01-30</td>
        </tr>
    </tbody>
</table>

<footer class="table-footer clearfix">
    <button type="button" class="btn btn-sm btn-success pull-xs-left" onclick="location.href='Account_edit'">
        <i class="fa-plus-circle"></i> 新增
    </button>
    <small class="pull-xs-right">第 1-10 筆，共 20 筆</small>
    <ul class="pager pager-sm">
        <li>
            <a href=""><i class="fa-angle-double-left"></i></a>
        </li>
        <li>
            <a href=""><i class="fa-angle-left"></i></a>
        </li>
        <li class="form-inline">
            <label>第</label>
            <input type="text" class="form-control form-control-sm text-xs-center" style="width:100px">
            <label>頁，共 2 頁</label>
        </li>
        <li>
            <a href=""><i class="fa-angle-right"></i></a>
        </li>
        <li>
            <a href=""><i class="fa-angle-double-right"></i></a>
        </li>
    </ul>
</footer>