
@{
    @* Layout = "~/Views/Shared/Manage/RLayout.cshtml"; *@
    @* 暫用 *@
    Layout = "~/Views/Shared/SysLayoutDemo.cshtml";
    ViewBag.BodyClass = "Order";
    ViewBag.IsFirstPage = false;
    ViewBag.Crumb = "購物金流維護";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><i class="fa-caret-right"></i> 會員及訂單管理</li>
        <li><i class="fa-angle-right"></i> @ViewBag.Crumb</li>
    </ul>
}

<h3 class="h3">@ViewBag.Crumb</h3>

<form action="">
    <section class="col-xs-5 w3-card-2 p-a-0">
        <header class="w3-padding-medium w3-padding-4 w3-blue">轉帳匯款資料設定</header>
        <main class="w3-padding-medium m-t-1">
            <dl class="form-group row">
                <dt class="col-xs-3 text-xs-right">戶名</dt>
                <dd class="col-xs-9">
                    <input type="text" class="form-control form-control-sm">
                </dd>
            </dl>
            <dl class="form-group row">
                <dt class="col-xs-3 text-xs-right">銀行</dt>
                <dd class="col-xs-9">
                    <input type="text" class="form-control form-control-sm">
                </dd>
            </dl>
            <dl class="form-group row">
                <dt class="col-xs-3 text-xs-right">代碼</dt>
                <dd class="col-xs-9">
                    <input type="number" class="form-control form-control-sm">
                </dd>
            </dl>
            <dl class="form-group row">
                <dt class="col-xs-3 text-xs-right">帳號</dt>
                <dd class="col-xs-9">
                    <input type="text" class="form-control form-control-sm">
                </dd>
            </dl>
            <dl class="form-group row">
                <dt class="col-xs-3 text-xs-right">運費設定</dt>
                <dd class="col-xs-9">
                    訂單金額少於 NT$
                    <input type="number" min="0" class="w3-border w3-padding-0 text-xs-center" style="width: 30%" required>
                    ，須付運費 NT$
                    <input type="number" min="0" class="w3-border w3-padding-0 text-xs-center" style="width: 25%" required>
                    元
                </dd>
            </dl>
        </main>
    </section>

    <section class="col-xs-5 w3-card-2 p-a-0 w3-margin-left">
        <header class="w3-padding-medium w3-padding-4 w3-green">貨到付款資料設定</header>
        <main class="w3-padding-medium m-t-1">
            <dl class="form-group row">
                <dt class="col-xs-3 text-xs-right">運費設定</dt>
                <dd class="col-xs-9">
                    訂單金額少於 NT$
                    <input type="number" min="0" class="w3-border w3-padding-0 text-xs-center" style="width: 30%" required>
                    ，須付運費 NT$
                    <input type="number" min="0" class="w3-border w3-padding-0 text-xs-center" style="width: 25%" required>
                    元
                </dd>
                <dt class="col-xs-3 text-xs-right">加收手續費</dt>
                <dd class="col-xs-9">
                    NT$
                    <input type="number" min="0" value="0" class="w3-border w3-padding-0 text-xs-center" style="width: 25%" required>
                    元
                </dd>
            </dl>
        </main>
    </section>
</form>