
@{
    @* Layout = "~/Views/Shared/Manage/RLayout.cshtml"; *@
    @* 暫用 *@
    Layout = "~/Views/Shared/SysLayoutDemo.cshtml";
    ViewBag.BodyClass = "Products";
    ViewBag.IsFirstPage = false;
    ViewBag.Crumb = "產品資料維護";
}

@section IncludeScript {
    <script>
        $('.nav-tabs a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    </script>
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><i class="fa-caret-right"></i> 產品管理</li>
        <li><i class="fa-angle-right"></i> @ViewBag.Crumb</li>
    </ul>
}

<h3 class="h3">@ViewBag.Crumb<small class="sub"><i class="fa-angle-double-right"></i> 編輯</small></h3>

<form class="form form-sm">
    <section class="col-xs-6 m-b-1">
        <dl class="form-group row m-b-0">
            <dt class="col-xs-2 form-control-label text-xs-right">
                <span class="text-danger">*</span> 主分類
            </dt>
            <dd class="col-xs-9">
                <select class="form-control form-control-sm" required>
                    <option>咖啡品項</option>
                    <option>季節限定</option>
                </select>
            </dd>
        </dl>
        <dl class="form-group row m-b-0">
            <dt class="col-xs-2 form-control-label text-xs-right">
                <span class="text-danger">*</span> 品名
            </dt>
            <dd class="col-xs-9">
                <select class="form-control form-control-sm" required>
                    <option>尼加拉瓜</option>
                    <option>瓜地馬拉</option>
                    <option>肯亞</option>
                    <option>耶加雪菲</option>
                    <option>哥倫比亞</option>
                    <option>哥期大黎加</option>
                    <option>黃金曼特寧</option>
                    <option>蒲隆地</option>
                </select>
            </dd>
        </dl>
        <dl class="form-group row m-b-0">
            <dt class="col-xs-2 form-control-label text-xs-right">
                <span class="text-danger">*</span> 前台顯示
            </dt>
            <dd class="col-xs-9">
                <label class="c-input c-radio">
                    <input type="radio" name="show" checked>
                    <span class="c-indicator"></span>
                    <span class="text-sm">顯示</span>
                </label>
                <label class="c-input c-radio">
                    <input type="radio" name="show">
                    <span class="c-indicator"></span>
                    <span class="text-sm">隱藏</span>
                </label>
            </dd>
        </dl>
        <dl class="form-group row m-b-0">
            <dt class="col-xs-2 form-control-label text-xs-right">
                排序
            </dt>
            <dd class="col-xs-3">
                @* 如未輸入 自動帶入 0 *@
                <input type="number" min="0" value="0" class="form-control" placeholder="請輸入數字...">
            </dd>
            <dd class="col-xs-6">
                <small class="text-muted">數字愈大愈前面</small> @* 說明文字 *@
            </dd>
        </dl>
    </section>
    <section class="col-xs-6 m-b-1">
        <dl class="form-group row m-b-0">
            <dt class="col-xs-2 form-control-label text-xs-right">代表圖</dt>
            <dd class="col-xs-10">
                @* 瀏覽&上傳檔案 *@
                <div class="form-control">
                    <input type="file">
                </div>
                @* 照片縮圖 *@
                <ol class="upload-img list-inline">
                    <li>
                        <button class="close">&times;</button> @* 刪除圖片的按鈕 *@
                        <img src="" alt="">
                    </li>
                </ol>
                <small class="text-muted">可上傳 1 張照片，檔案大小不可超過 xxx KB</small>
            </dd>
        </dl>
    </section>

    <table class="table table-sm table-bordered table-striped table-hover m-b-2">
        <caption class="table-header">
            <span class="w3-large">產品規格明細</span>
            <button type="button" class="btn btn-sm btn-primary pull-xs-right">
                <i class="fa-plus-circle"></i> 新增
            </button>
        </caption>
        <colgroup>
            <col style="width: 6%">
        </colgroup>
        <thead>
            <tr>
                <th class="text-xs-center">編輯</th>
                <th class="text-xs-center">料號</th>
                <th class="text-xs-center">包裝</th>
                <th class="text-xs-center">規格</th>
                <th class="text-xs-center">單價</th>
                <th class="text-xs-center">狀態</th>
            </tr>
        </thead>
        @* 按下修改後才顯示 input等修改 *@
        <tr>
            <td class="text-xs-center">
                <button class="btn btn-link text-muted" title="取消修改"><i class="fa fa-reply"></i></button>
                <button class="btn btn-link text-primary" title="確定修改"><i class="fa fa-check fa-lg"></i></button>
            </td>
            <td>
                <input type="text" value="P2-010-01" class="form-control" required>
            </td>
            <td>
                <input type="text" value="10入濾掛式包" class="form-control" required>
            </td>
            <td class="text-xs-center">
                <input type="text" value="10pcs/盒" class="form-control text-xs-center" required>
            </td>
            <td class="text-xs-center">
                <div class="input-group">
                    <span class="input-group-addon">NT$</span>
                    <input type="number" min="0" value="380" class="form-control text-xs-center" required>
                </div>
            </td>
            <td class="text-xs-center">
                <label class="c-input c-radio">
                    <input type="radio" name="sale1" checked>
                    <span class="c-indicator"></span>
                    <span class="text-sm">上架</span>
                </label>
                <label class="c-input c-radio">
                    <input type="radio" name="sale1">
                    <span class="c-indicator"></span>
                    <span class="text-sm">下架</span>
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-xs-center">
                <button class="btn btn-link text-danger" title="刪除"><i class="fa fa-trash fa-lg"></i></button>
                <button class="btn btn-link text-success" title="編輯"><i class="fa fa-pencil fa-lg"></i></button>
            </td>
            <td>P2-010-02</td>
            <td>5入濾掛式包</td>
            <td class="text-xs-center">5pcs/盒</td>
            <td class="text-xs-center">NT$ 190</td>
            <td class="text-xs-center">
                <span class="w3-tag label-success w3-round">上架</span>
            </td>
        </tr>
        <tr>
            <td class="text-xs-center">
                <button class="btn btn-link text-danger" title="刪除"><i class="fa fa-trash fa-lg"></i></button>
                <button class="btn btn-link text-success" title="編輯"><i class="fa fa-pencil fa-lg"></i></button>
            </td>
            <td>P2-010-03</td>
            <td>袋裝咖啡豆</td>
            <td class="text-xs-center">250g/包</td>
            <td class="text-xs-center">NT$ 330</td>
            <td class="text-xs-center">
                <span class="w3-tag label-default w3-round">下架</span>
            </td>
        </tr>
        <tr>
            <td class="text-xs-center">
                <button class="btn btn-link text-danger" title="刪除"><i class="fa fa-trash fa-lg"></i></button>
                <button class="btn btn-link text-success" title="編輯"><i class="fa fa-pencil fa-lg"></i></button>
            </td>
            <td>P2-010-04</td>
            <td>商業豆</td>
            <td class="text-xs-center">2kg/包</td>
            <td class="text-xs-center">請來電洽談</td>
            <td class="text-xs-center">
                <span class="w3-tag label-success w3-round">上架</span>
            </td>
        </tr>
    </table>

    <section>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#intro" aria-controls="intro" role="tab" data-toggle="tab" class="active">產品簡介</a></li>
            <li role="presentation"><a href="#more" aria-controls="more" role="tab" data-toggle="tab">產品更多介紹</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" aria-hidden="false" class="tab-pane fade active" id="intro">
                <textarea type="date" class="form-control" id="intro_s" name="intro_s"></textarea>
            </div>
            <div role="tabpanel" aria-hidden="true" class="tab-pane fade" id="more">
                <textarea type="date" class="form-control" id="intro_s" name="intro_s"></textarea>
            </div>
        </div>
    </section>

    <div class="form-action">
        <button type="button" class="btn btn-primary btn-sm col-xs-offset-1" onclick="location.href='Products_edit'">
            <i class="fa-check"></i> 存檔確認
        </button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='Products_list'">
            <i class="fa-times"></i> 回列表
        </button>
    </div>
</form>
