
@{
    @* Layout = "~/Views/Shared/Manage/RLayout.cshtml"; *@
    @* 暫用 *@
    Layout = "~/Views/Shared/SysLayoutDemo.cshtml";
    ViewBag.BodyClass = "Products";
    ViewBag.IsFirstPage = false;
    ViewBag.Crumb = "利他故事";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><i class="fa-caret-right"></i> 網站資料管理</li>
        <li><i class="fa-angle-right"></i> @ViewBag.Crumb</li>
    </ul>
}

<h3 class="h3">@ViewBag.Crumb<small class="sub"><i class="fa-angle-double-right"></i> 編輯</small></h3>

<div class="alert alert-warning w3-small">
    <button type="button" class="close"><i class="fa-times"></i></button>
    編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除)，以免行動裝置顯示時會跑版。<br>
    ps. youtube 可勾選「用自適應縮放模式」
</div>

<button class="btn btn-success btn-sm" type="button"><i class="fa-plus-circle"></i> 新增</button>

<form action="" class="form form-sm">
    <article class="w3-card-2 m-y-1">
        <header class="w3-padding w3-light-blue form-inline">
            #0 <input type="text" class="form-control form-control-sm" placeholder="請在此輸入標題...">
        </header>
        <main class="w3-padding">
            @* 網頁編輯器 *@
            <textarea class="form-control form-control-sm" rows="8"></textarea>
        </main>
    </article>

    <div class="form-action text-xs-center">
        <button type="button" class="btn btn-primary btn-sm">
            <i class="fa-check"></i> 儲存
        </button>
    </div>
</form>