
@{
    ViewBag.Title = "FAQ";
    ViewBag.BodyClass = "FAQ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="panel">
    <header class="collapse-title" data-toggle="collapse"><span>Q1</span> 如何購物、付款</header>
    <article class="collapse-content">
        @* 編輯器 *@
        購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式 購物方式
    </article>
</section>

<section class="panel">
    <header class="collapse-title" data-toggle="collapse"><span>Q2</span> 問題二</header>
    <article class="collapse-content">
        問題二內容問題二內容問題二內容問題二內容問題二內容問題二內容問題二內容問題二內容
    </article>
</section>