@model List<DotWeb.Controllers.m_FAQ>
@{
    ViewBag.Title = "FAQ";
    ViewBag.BodyClass = "FAQ";
    Layout = "~/Views/Shared/Layout.cshtml";
    int index = 1;
}

@foreach (var i in Model)
{
    <section class="panel">
        <header class="collapse-title" data-toggle="collapse"><span>Q@(index)</span>@i.q_title</header>
        <article class="collapse-content">
            @Html.Raw(i.a_content)
        </article>
    </section>

    index++;
}
