@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">主選單</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                @foreach (var node in Model.Nodes)
                {
                    if (node.IsInCurrentPath) //是否為被選中的主項選單 選中的要展開次項選單
                    {
                        <li class="active">
                            <a href="@node.Url">
                                @node.Title
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@node.Url">
                                @node.Title
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>

