
@{
    ViewBag.Title = "LITA QUALITY";
    ViewBag.BodyClass = "Quality";
    ViewBag.subnav = "n1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("Quality-nav")

<section class="editor">
    @* 編輯器內容放此 *@
    <img src="~/Content/images/Quality/pic.jpg" alt="嚴選製程-手挑嚴選">
</section>