@model DotWeb.Controllers.EditorContent
@{
    ViewBag.Title = "LITA QUALITY";
    ViewBag.BodyClass = "Quality";
    ViewBag.subnav = "n1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("Quality-nav", Model.menuStroe)

<section class="editor">
    @* 編輯器內容放此 *@
    @Html.Raw(Model.editor.l2_content)
</section>