
@{
    ViewBag.Title = "LITA QUALITY";
    ViewBag.BodyClass = "Quality";
    ViewBag.subnav = "n2";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="editor">
    @* 編輯器內容放此 *@
    Comming soon
</section>

