
@{
    ViewBag.Title = "LITA QUALITY";
    ViewBag.BodyClass = "Quality";
    ViewBag.subnav = "n2";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("Quality-nav")

<section class="editor">
    @* 編輯器內容放此 *@
    <img src="~/Content/images/Quality/pic2.jpg" alt="專業烘焙-新鮮烘焙">
    <img src="~/Content/images/Quality/pic2_2.jpg" alt="專業烘焙-專業烘豆">
</section>

