
@{
    ViewBag.Title = "LITA QUALITY";
    ViewBag.BodyClass = "Quality";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<nav class="sub-nav sub-navImg m-b-64">
    @* 當前選單加 current
    <a class="current" href="~/Home/Quality"><span>嚴選製程</span></a> *@
    <a class="current" href="~/Home/Quality"><span>嚴選製程</span></a>
    <a href="~/Home/Quality"><span>專業烘焙</span></a>
    <a href="~/Home/Quality"><span>安心認證</span></a>
</nav>

<section class="editor">
    @* 編輯器內容放此 *@
    Comming soon
</section>