@model IEnumerable<ProcCore.Business.DB0.Editor_L2>
<nav class="sub-nav sub-navImg m-b-64">
    @foreach (var i in Model)
    {
        <a class="@(ViewBag.menu == i.editor_l2_id? "current" : "")" href="~/Home/Quality?id=@i.editor_l2_id#main"><span>@i.l2_name</span></a>
    }
</nav>