
@{
    ViewBag.Title = "LITA QUALITY";
    ViewBag.BodyClass = "Quality";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="sub-nav m-b-64">
    <li>
        <img src="~/Content/images/Products/sort.jpg" alt="分類圖">
        <a class="scroll" href="#p1">嚴選製程</a>
    </li>
    <li>
        <img src="~/Content/images/Products/sort.jpg" alt="分類圖">
        <a class="scroll" href="#p2">專業烘焙</a>
    </li>
    <li>
        <img src="~/Content/images/Products/sort.jpg" alt="分類圖">
        <a class="scroll" href="#p3">安心認證</a>
    </li>
</ul>