<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.ah-agent.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://SR-NETWEB:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>C521605_BuyNow</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>webpublish</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityDB" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DotWeb.ApplicationDbContext, Proc.MvcWeb" MigrationConfiguration="DotWeb.WebApp.Migrations.Configuration, Proc.MvcWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProcCore.Business.DB0.C51A0_BuyNowEntities" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProcCore.Business.DB0.C51A0_BuyNowEntities, Proc.BusinessLogic" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <ExcludeFilesFromDeployment>.scss</ExcludeFilesFromDeployment>
    <ExcludeFoldersFromDeployment>Content\sass</ExcludeFoldersFromDeployment>
    <ExcludeFoldersFromDeployment>Content\sass\helper</ExcludeFoldersFromDeployment>
    <ExcludeFoldersFromDeployment>Content\bootstrap\sass</ExcludeFoldersFromDeployment>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProcCore.Business.DB0.C51A0_BuyNowEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ProcCore.Business.DB0.C51A0_BuyNowEntities" />
  </ItemGroup>
</Project>