@{
    ViewBag.Title = "Email";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>【@Resources.Res.System_FrontName】會員密碼重設</title>
    <style type="text/css">
        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
            background: #ffffff;
        }

        * {
            -webkit-font-smoothing: antialiased;
        }

        .ExternalClass * {
            line-height: 100%;
        }

        table td {
            border-collapse: collapse;
        }

        *[class].wlf {
            width: 600px;
        }

        *[class].w-280 {
            width: 280px;
        }

        *[class].w-200 {
            width: 200px;
        }

        *[class].w-150 {
            width: 150px;
        }

        *[class].w-130 {
            width: 130px;
        }

        *[class].w-120 {
            width: 120px;
        }

        *[class].w-30 {
            width: 30px;
        }
    </style>
</head>
<body style="font: .8em/140% '微軟正黑體', 'Microsoft JhengHei', Helvetica, sans-serif;">
    <table width="100%" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed">
        <tr>
            <td>

                <!--[if mso]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td><![endif]-->

                <table class="wlf full-width" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;max-width:600px">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="14%">&nbsp;</td>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td height="20">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                @* LOGO圖 230x91 *@
                                                <td><a href="@CommWebSetup.DEV_WebUrl" target="_blank"><img src=@(CommWebSetup.DEV_WebUrl + "/Content/images/logo.gif") width="230" alt="" style="display:block;border:none;width:100%;max-width:230px;max-height:91px" /></a></td>
                                            </tr>
                                            <tr>
                                                <td height="30">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="14%">&nbsp;</td>
                                </tr>
                            </table>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" style="font-size:1px;line-height:1px"><img src="https://s3.amazonaws.com/rejoiner/generic/b/div.png" width="574" alt="@Resources.Res.System_FrontName" style="display:block;width:100%;max-width:574px;max-height:8px" /></td>
                                </tr>
                                <tr>
                                    <td height="25">&nbsp;</td>
                                </tr>
                            </table>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="10%">&nbsp;</td>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="color:#000001;font-size:30px;font-weight:bold;line-height:34px"><small>@Resources.Res.System_FrontName</small> 會員密碼重設</td>
                                            </tr>
                                            @* <tr>
                                                <td style="color:#000001;font-size:18px;line-height:22px">小標</td>
                                            </tr> *@
                                            <tr>
                                                <td height="25">&nbsp;</td>
                                            </tr>
                                            <td style="color:#6c6457;font-weight:bold;font-size:16px;line-height:22px">
                                                您的 E-mail 如下，<br>
                                                請至以下連結修改密碼！
                                            </td>
                                            <tr>
                                                <td height="20">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000001;font-size:18px;line-height:24px">
                                                    E-mail：<span style="color:#E60112; font-weight:bold;">demo@demo.com</span><br>
                                                    @*登入密碼：<span style="color:#E60112; font-weight:bold;">abcd</span><br>*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="25">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <!--[if mso]>
                                                      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{cart_data.return_url}}" style="height:40px;v-text-anchor:middle;width:164px;" stroke="f" fillcolor="#767575">
                                                        <w:anchorlock/>
                                                        <center>
                                                      <![endif]-->
                                                    <a href=@(CommWebSetup.DEV_WebUrl+"") target="_blank" style="background-color:#F15A24;color:#ffffff;display:inline-block;font-size:14px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:164px;-webkit-text-size-adjust:none">變更密碼</a>
                                                    <!--[if mso]>
                                                        </center>
                                                      </v:rect>
                                                    <![endif]-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="50">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10%">&nbsp;</td>
                                </tr>
                            </table>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" style="font-size:1px;line-height:1px"><img src="https://s3.amazonaws.com/rejoiner/generic/b/div.png" width="574" alt="" style="display:block;width:100%;max-width:574px;max-height:8px" /></td>
                                </tr>
                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>
                            </table>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="5%">&nbsp;</td>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" style="color:#000001;font-size:24px;font-weight:bold;line-height:28px">
                                                    TEL: (03) 4275-832　Mobile: (09) 79-777-270
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="15" style="font-size:1px;line-height:1px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="color:#666666;font-family:Arial, sans-serif;font-size:11px;line-height:16px">Copyright &copy; 2016 @Resources.Res.System_FrontName All Rights Reserved</td>
                                            </tr>
                                            <tr>
                                                <td height="5" style="font-size:1px;line-height:1px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="color:#666666;font-family:Arial, sans-serif;font-size:11px;line-height:16px">320 桃園市中壢區復興路161號4樓</td>
                                            </tr>
                                            <tr>
                                                <td height="5" style="font-size:1px;line-height:1px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td height="20">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="5%">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <!--[if mso]></td></tr></table><![endif]-->

            </td>
        </tr>
    </table>
</body>
</html>