@{
    ViewBag.Title = "Email";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>【1KOMO 萬客摩】商品出貨通知</title>
    <style type="text/css">
	    body{width:100% !important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0;background:#ffffff}
	    * {-webkit-font-smoothing:antialiased}
	    .ExternalClass * {line-height:100%}
	    table td {border-collapse:collapse}
	    *[class].wlf {width:600px}
	    *[class].w-280 {width:280px}
	    *[class].w-200 {width:200px}
	    *[class].w-150 {width:150px}
	    *[class].w-130 {width:130px}
	    *[class].w-120 {width:120px}
	    *[class].w-30 {width:30px}
	</style>
</head>
<body style="font: .8em/140% '微軟正黑體', 'Microsoft JhengHei', Helvetica, sans-serif;">
    <table width="100%" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed"><tr><td>

<!--[if mso]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td><![endif]-->

<table class="wlf full-width" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;max-width:600px">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="14%">&nbsp;</td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                            	@* LOGO圖 230x91 *@
                                <td><a href="http://www.1komo.com/" target="_blank"><img src="http://www.1komo.com/Content/images/Email/logo.gif" width="230" alt="" style="display:block;border:none;width:100%;max-width:230px;max-height:91px" /></a></td>
                            </tr>
                            <tr>
                                <td height="30">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td width="14%">&nbsp;</td>
                </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="font-size:1px;line-height:1px"><img src="https://s3.amazonaws.com/rejoiner/generic/b/div.png" width="574" alt="1KOMO 萬客摩" style="display:block;width:100%;max-width:574px;max-height:8px" /></td>
                </tr>
                <tr>
                    <td height="25">&nbsp;</td>
                </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="14%">&nbsp;</td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="color:#000001;font-size:30px;font-weight:bold;line-height:34px">商品出貨通知－1KOMO 萬客摩</td>
                            </tr>
                            @* <tr>
                                <td style="color:#000001;font-size:18px;line-height:22px">小標題</td>
                            </tr> *@
                            <tr>
                                <td height="25">&nbsp;</td>
                            </tr>
                            <td style="color:#6c6457;font-weight:bold;font-size:16px;line-height:22px">
                            訂單 <span  style="color:#000001; font-weight:bold">@Model.no</span> 已於 <span  style="color:#000001; font-weight:bold">@Model.day</span> 出貨，謝謝您的訂購！<br>
                            如您對商品有任何疑問，請<a href="http://www.1komo.com/ContactUs" style="color:#F15A24; text-decoration:none">與我們聯絡</a>，謝謝！
                            </td>
                            <tr>
                                <td height="50">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td width="14%">&nbsp;</td>
                </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="font-size:1px;line-height:1px"><img src="https://s3.amazonaws.com/rejoiner/generic/b/div.png" width="574" alt="" style="display:block;width:100%;max-width:574px;max-height:8px" /></td>
                </tr>
                <tr>
                    <td height="30">&nbsp;</td>
                </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="color:#000001;font-size:24px;font-weight:bold;line-height:28px">
                                TEL: (03) 468-9493　FAX: (03) 428-3055
                                </td>
                            </tr>
                            <tr>
                                <td height="15" style="font-size:1px;line-height:1px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" style="color:#666666;font-family:Arial, sans-serif;font-size:11px;line-height:16px">Copyright &copy; 2015 1KOMO.com All Rights Reserved</td>
                            </tr>
                            <tr>
                                <td height="5" style="font-size:1px;line-height:1px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" style="color:#666666;font-family:Arial, sans-serif;font-size:11px;line-height:16px">320 桃園市中壢區東興街121號</td>
                            </tr>
                            <tr>
                                <td height="5" style="font-size:1px;line-height:1px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td width="5%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!--[if mso]></td></tr></table><![endif]-->

</td></tr></table>
</body>
</html>